/* Estilos globais do MeuBarbeiro */
:root {
  --font-main: 'Source Sans 3', sans-serif;
  --font-heading: 'Manrope', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
  border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
